@import '../../Assets//styles/App.module.scss';

.root {
    .item {
        margin: 33px 0px;
    }

    .itemWrap {
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        grid-template-rows: repeat(0, 0fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        @media (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }

    }


}